
block content
  p A recent update to a&nbsp;
    a( href=app_url + '/bolo/' + bolo.id ) #{bolo.category} BOLO
    |&nbsp;has been made.&nbsp;
    a( href=app_url ) Login
    |&nbsp;to view this and other BOLOs.
