extends admin-layout

block jumbo-desc
    h3 Admin Portal: Dashboard

block admin-content
    p.lead Welcome to the BOLO Flier Creator Administrator Dashboard. Please use the&nbsp
        | links to the left (or above on mobile devices) to navigate the Dashboard.
