extends admin-layout
include includes/mixins

block jumbo
    .jumbotron
        .container
            h3 User Guide
            button.btn.btn-primary(onclick='location = "/admin/edit/userGuide";') Go Back

block admin-content
    div.pull-right
        label.label(for='filter')
        | View User Guide for: 

        div(style='display:inline-block')
            select#filter.selectpicker(data-width="fit" style='display:inline-block' onchange='location = this.value;')
                if (user == "root")
                    option(value="/admin/edit/userGuide/preview/root" selected="selected") Root
                else 
                    option(value="/admin/edit/userGuide/preview/root") Root

                if (user == "administrator")
                    option(value="/admin/edit/userGuide/preview/administrator" selected="selected") Administrator
                else 
                    option(value="/admin/edit/userGuide/preview/administrator") Administrator

                if (user == "supervisor")
                    option(value="/admin/edit/userGuide/preview/supervisor" selected="selected") Supervisor
                else 
                    option(value="/admin/edit/userGuide/preview/supervisor") Supervisor

                if (user == "officer")
                    option(value="/admin/edit/userGuide/preview/officer" selected="selected") Officer
                else 
                    option(value="/admin/edit/userGuide/preview/officer") Officer

                
    br
    br
    != md(text)
    

    