extends ./non-registered-layout.jade
include ./includes/mixins.jade


block jumbo-desc
  p Reset User's Password

block admin-content
  div
    - var ferrs = ( form_errors.length ) ? form_errors[0] : {};
    if ferrs.password
      +alert_error_array( ferrs.password )
    if ferrs.confirmation
      +alert_error_array( ferrs.confirmation )
  form(action="/changepassword/" + userID enctype="multipart/form-data" method="post")
    +input_text("password", "New Password (required)", "", true,  "", "password")
    +input_text("confirm", "Confirm Password (required)", "", true,  "", "password")

    .form-group
      button.btn.btn-primary(type="submit" value="save") Submit
      if url !== "/expiredpassword"
        a(href='/login' style="margin-left:10px") Wait, I remember
