include includes/mixins

doctype html
html
  head
    meta(name="theme-color" content="#01020a")

    script(src="/jquery/jquery-3.1.1.min.js" )
    //script(src="/jquery/jqueryscripts.js" )
    script(src="/jquery/jquery.maskedinput.js" )
    script(src="/jquery-ui-1.12.1/jquery-ui.min.js" )
    script(src="/js/ui.js" )
    script(src="/js/jquery.twbsPagination.min.js" )
    script(src="/bootstrap-3.3.7-dist/js/bootstrap.min.js" )
    script(src="/bootstrap-select-1.11.2/js/bootstrap-select.min.js" )

    block scripts

    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1' )

    title #{title}

    link( href="/bootstrap-select-1.11.2/css/bootstrap-select.min.css" rel="stylesheet")
    link( href="/bootstrap-3.3.7-dist/css/bootstrap.min.css", rel="stylesheet" )
    link( href="/css/style.css" rel="stylesheet" )

    block styles

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    #wrap
      block jumbo

      .container-fluid
        include partials/global-alerts
        block content
      .push
    include partials/footer
