extends layout

block jumbo
  .jumbotron
    .container
      div.text-center
        != md(text)

block content
  .form-group
    form#login(action="/forgotPassword" method="post")
      +input_text("email", "Email", "", true, email)
      +input_text("firstname", "First Name", "", true, firstname)
      +input_text("lastname", "Last Name", "", true, lastname)
      button.btn.btn-warning(type="submit" value="reset") Reset password
      a.btn.btn-success(href='/login' style="margin-left:10px") Wait, I remember
