extends layout-password

block jumbo
    .jumbotron
        .container
            p User Password Reset Page

block content
    .container
        h2 Password Reset
        p The new password must contain
            | (uppercase and lowercase letters, numbers and special characters)
            | and no more than 2 equal characters in a row.
            | Valid special characters: ! ~ < > , ; : _ = ? * + # . " & % ( ) | [ ] - $ ^ @ /

        form( action= (token) ? ("/password/newPass/" + token) : ("/password/newPass") method="post" )
            +input_text( "password", "Password", "", true,  "", "password" )
            +input_text( "confirm", "Repeat Password", "", true,  "", "password" )

            .form-group
                button.btn.btn-primary( type="submit"  value="save" style="float:left") Submit
                a.btn.btn-default( type = "button" onClick="history.go(-1);return true;" style="float:left") Return