
div#dialog(style='display:none;')
    h1 Authenticate Purge
    form#purgeform(name='purgeform')
        label(for='password') Password:
        input#password.txtfield(type='password', name='password', tabindex='1')
          
    script.
        // this disables the enter key on the modal which otherwise will introduce a bug and disable the post functionality
        document.getElementById('password').addEventListener("keydown", function(e){
          if(e.keyCode === 13){
            e.preventDefault();
          }
        })

    script.
        $(document).ready(function () {
            $("#dialog").dialog({
                beforeClose: function(e){console.log(e.which)},
                autoOpen: false,
                modal: true,
                buttons: {
                    "Confirm": function (e) {
                        $.ajax({
                            url: '/bolo/archive/purge',
                            type: 'POST',
                            data: {password: $("#password").val(), range: $("#purgeRange option:selected").val()},
                            dataType: 'json',
                            success: function(data){
                      
                                console.log('redirect');
                                if (typeof data.redirect == 'string')
                                    window.location = data.redirect;
                    }})
                        $(this).dialog("close");
                        e.preventDefault();
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                },
                
            });
        });

        $("#purge").click(function (e) {
              $("#dialog").dialog("open");

        });
