#footer.navbar-default
    .container
        p.navbar-text
            | © 2016 BOLO Flier Creator | Created by School of
            | Computing and Information Sciences @
            a.navbar-link( href="http://www.cis.fiu.edu/seniorproject/" ) FIU
