-
  var tiers = [
  'OFFICER', 'SUPERVISOR', 'ADMINISTRATOR', 'ROOT'
  ]

  var general_categories = [
  'ARSON', 'BURGLARY', 'DOMESTIC SECURITY', 'ESCAPE',
  'FRAUD', 'HOME INVASION', 'HOMICIDE', 'INFORMATION', 'MISSING JUVENILE',
  'MISSING PERSON', 'NARCOTICS', 'NEED TO IDENTIFY', 'OFFICER SAFETY',
  'PC TO ARREST', 'ROBBERY', 'RUNAWAY', 'SEX OFFENSE',
  'SITUATIONAL AWARENESS', 'THEFT - GRAND',
  'THEFT - PETIT', 'WANTED', 'FIELD INTERVIEW'
  ]

  var sex = [
  'Unknown','Male','Female'
  ]

  var races = [
  'Unknown', 'Hispanic', 'White', 'Asian', 'Black / African American',
  'American Indian or Alaska Native', 'Native Hawaiian or Other Pacific Islander'
  ]

  var hair_colors = [
  'Unknown','Black', 'Blonde', 'Red', 'Brown', 'Gray', 'White', 'Sandy',
  'Bald (No hair)'
  ]

  var bolo_status = [
  '','Cancelled', 'In Custody', 'Located', 'Recovered'
  ]

  var bolo_status_theft = [
  '','Cancelled', 'Recovered'
  ]

  var vehicles_makes = [
  'Acura', 'Alfa Romeo', 'Aston Martin', 'Audi', 'Bentley', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
  'Chrysler', 'Dodge', 'Ferrari', 'Fiat', 'Ford', 'Genesis', 'GMC', 'Honda', 'Hyundai', 'Infinity',
  'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land-Rover', 'Lexus', 'Lincoln', 'Lotus', 'Maserati', 'Mazda',
  'McLaren', 'Mercedes Benz', 'MINI', 'Mitsubishi', 'Nissan', 'Porsche', 'Ram', 'Rolls Royce', 'Scion',
  'Smart', 'Subaru', 'Tesla', 'Toyota', 'Volswagen', 'Volvo'
  ]

  var v_style = [
  '2 Door', '4 Door', 'Convertible', 'Bus', 'Tractor Truck', 'Motorcycle', 'Scooter', 'Moped'
  ]

  var states = [
  "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "FM",
  "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
  "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM",
  "NY", "NC", "ND", "MP", "OH", "OK", "OR", "PW", "PA", "RI", "SC",
  "SD", "TN", "TX", "UT", "VT", "VI", "VA", "WA", "WV", "WI", "WY"
  ]

  var boatFeet = ['']
  for(var startFeet=1; startFeet<=100; startFeet++)boatFeet.push(startFeet);

  var v_propulsion = [
  'N/A', 'Inboard', 'Outboard', 'Inboard/Outboard', 'Jet', 'Sail'
  ]

  var v_propulsion_type = [
  'N/A', 'Single', 'Twin', 'Triple', 'Quad'
  ]

  var v_propulsion_make = [
  'Evinrude', 'Force', 'Honda', 'Johnson', 'Mariner', 'Mercury', 'Nissan', 'Susuki', 'Tuhotsu', 'Yamaha'
  ]

  var v_trailer = [
  'Yes', 'No'
  ]
